.image-upload-main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex-direction: column;
    label{
        border: 1px solid #212121;
        padding: 10px;
        cursor: pointer;
        font-family: system-ui;
        
    }

}
.upload{
    display:flex;
    margin-left: 32%;
}