.chatPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 100;
    position: relative;
    margin-top: 5px;
    padding-bottom: 5px;
}
// .chatPage::before{
//     width: 100vw;
//     height: 222px;
//     background-color: #a8cfed;
//     z-index: -1;
//     content: "";
//     top:0;
//     position: absolute;
// }
.chatPage-container{
    width: 100%;
    height: 100%;
    max-width: 1366px;
    z-index: 100;
    display: flex;
    
}
.chatPage-bg{
    flex: 1;
    background-color: aliceblue;
    z-index: 100;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.chatPage-bg > img{
    width: 300px;
    margin: auto;
}
@media only screen and (max-width: 1367px) {
    .chatPage-container{
        height: 95%;
    }
    
}