.login-btn{
    width: fit-content;
    height:50px;
    background-color: #004080;
    cursor: pointer;
    padding:7px;
    margin: 2px;
    justify-self: center;
    border: none;
}
.inputField{
    width: 80%;
    height: 20%;
    margin: 5px;
    padding: 10px;
    justify-self: center;
}