.connections-main{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 30px;
    border: 1px solid #212121;
    border-radius: 10px;
}