.profile-container{
    display: flex;
    width:  80%;
    flex-direction: column;
}
.profile-card{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    margin:auto;
    border-radius: 20px 20px 0px 0px;
    //padding: 20px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    .bgPicture{
        height: 20vh;
        background-color: cadetblue;
        .profilePicture{
            left: 25px;
            overflow: hidden;
            --heightImg:146px;
            --widthImg:145px;
            // height:var(--heightImg);
            // width: var(--widthImg);
            position: absolute;
            background-color: white;
            top: 25px;
            border: 1px solid lightgrey;
            border-radius: 90px;
            padding: 1px;

            img{ 
            height:var(--heightImg);
            width: var(--widthImg);
            padding:1px;
            border-radius: 80px;
            }
        }
    }
    .profile-info{
        display: flex;
        margin: 50px 25px;
        justify-content: space-between;
        .right-info{
            margin-top: 20px;
            //margin-right:20px;
            .company,
            .college{
                font-family: system-ui;
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
                color:rgba(0,0,0,0.9);

            }
           
            .company{
                margin-top: -15px;
            }

        }
        .left-info{
            line-height: 20px;
        }
    }
    .website{
        color: #004c75 !important;
        -webkit-link: #004c75 ;
    }
   .skill-label{
    font-weight: 600;
   }
    
    .edit-btn{   
        position: absolute;
        right: 20px;
        top: 25px;
        background: white;
        padding: 0px 5px;
        color: darkblue;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      .edit{
         cursor: pointer;

      }
      
    }
    .username{
        font-family:system-ui;
        font-weight: 600;
        font-size: 24px;
        color:rgba(0,0,0,0.9);
    }
    .heading{
        margin-top: -20px;
        font-family:system-ui;
        font-size: 16px;
        color:rgba(0,0,0,0.9);
        font-weight: 400;
        width: 320px;
        line-height: 20px;
    }
}
.top-outer{
    display: flex;
}
.top-name-heading{
    width: 50%;
}
.top-clg-cmp{
    width: 50%;
}